<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>SI Open House 2020</title>

    <!-- Primary Meta Tags -->
    <title>SI Open House 2020</title>
    <meta name="title" content="SI Open House 2020">
    <meta name="description" content="มาร่วมเป็นส่วนหนึ่งของเรากันเถอะ 😃">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://oph2020.sirirajmedcamp.com/">
    <meta property="og:title" content="SI Open House 2020">
    <meta property="og:description" content="มาร่วมเป็นส่วนหนึ่งของเรากันเถอะ 😃">
    <!-- <meta property="og:image" content="https://storage.googleapis.com/si-open-house.appspot.com/mame.png"> -->
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="562">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://oph2020.sirirajmedcamp.com/">
    <meta property="twitter:title" content="SI Open House 2020">
    <meta property="twitter:description" content="มาร่วมเป็นส่วนหนึ่งของเรากันเถอะ 😃">
    <!-- <meta property="twitter:image" content="https://storage.googleapis.com/si-open-house.appspot.com/mame.png"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.0/dist/sweetalert2.min.css" integrity="sha256-KpQHAI/AubL4JrO3VYskOgqSm+Z9nzrIqWB1dTOfCK4=" crossorigin="anonymous">
    <style>
      body {
        background-color:rgb(255, 223, 211);
      }
      .button {
        position: absolute;
        transition: ease 0.1s;
      }
      .button:hover {
        cursor: pointer;
        opacity: 0.8;
        filter: brightness(75%);
      }
      #mobile {
        display: none;
      }
      #mobile .button:hover {
        opacity: initial;
        filter: initial;
      }
      #mobile .button:active {
        opacity: 0.8;
        filter: brightness(75%);
      }
      @media only screen and (max-width: 768px) {
        #pc {
          display: none;
        }
        #mobile {
          display: initial;
        }
      }
    </style>
  </head>
  <body>
    <div style="position: absolute; z-index: -1;" id="pc">
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/pc/2.svg" alt="background" style="width: 100%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/pc/b1.svg" class="button quiz" style="top: 52%; left: 30%; width: 40%;"/>
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/pc/b2.svg" class="button eva" style="top: 77%; left: 5%; width: 40%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/pc/b3.svg" class="button cert" style="top: 77%; left: 55%; width: 40%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/pc/b4.svg" class="button logout" style="top: 40%; left: 70%; width: 20%;" />
    </div>
    <div style="position: absolute; z-index: -1;" id="mobile">
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/mobile/3.svg" alt="background" style="width: 100%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/mobile/b1.svg" class="button quiz" style="top: 45%; left: 15%; width: 70%;"/>
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/mobile/b2.svg" class="button eva" style="top: 58.5%; left: 15%; width: 70%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/mobile/b3.svg" class="button cert" style="top: 72%; left: 15%; width: 70%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/mobile/b4.svg" class="button logout" style="top: 85%; left: 10%; width: 30%;" />
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.0/dist/sweetalert2.min.js" integrity="sha256-4TFmx5O2sFRsVtG7s4u2Dpl816DVDE9YMoj5Q/05qwg=" crossorigin="anonymous"></script>
    <script>
      $(() => {
        $.get('/flash/error', (data) => {
          Swal.mixin({
            icon: 'error'
          }).queue(data).then(() => {
            $.get('/flash/success', (data) => {
              <% if (!user.submitted || !user.submitted.eval) { %>
                  /* data = data.concat([{
                  title: 'ช่วยทำแบบประเมินหน่อยนะ',
                  icon: 'info',
                  html: 'รบกวนกดเข้าไปทำที่ปุ่มแบบสอบถามด้านล่างได้เลยน้า เสร็จแล้วถ้าทำควิซครบ 80% รออีก 1-2 วันก็มารับเกียรติบัตรได้เลยย'
                }]); */
              <% } %>
              Swal.mixin({
                icon: 'success'
              }).queue(data);
            });
          });
        });
        $('.quiz').click(() => {
          Swal.fire('ไว้มาสนุกกันใหม่นะ 😃');
          // window.location = '/quiz';
        });
        $('.eva').click(() => {
          window.location = ('/eval');
        });
        $('.cert').click(() => {
          $.get('/cert', data => {
            if (!data) return Swal.fire('ต้องทำควิซอย่างน้อย 80% และแบบประเมินถึงจะได้เกียรติบัตรน้า 😭 แต่ถ้าทำครบหมดแล้วรบกวนติดต่อที่ inbox เพจหน่อยนะ');
            Swal.fire({
              title: 'ได้เกียรติบัตรแล้ว',
              icon: 'success',
              html: '<a target="_blank" href="' + data + '">กดเพื่อเข้าดูเกียรติบัตรของคุณ</a> หากสะกดชื่อผิดหรือต้องการแก้ไขชื่อ สามารถแจ้งชื่อกับอีเมลมาทาง inbox เพจได้เลยน้า'
            });
          });
        });
        $('.logout').click(() => {
          window.location = '/logout';
        });
      });
    </script>
  </body>
</html>