<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>SI Open House 2020</title>

    <!-- Primary Meta Tags -->
    <title>SI Open House 2020</title>
    <meta name="title" content="SI Open House 2020">
    <meta name="description" content="มาร่วมเป็นส่วนหนึ่งของเรากันเถอะ 😃">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://oph2020.sirirajmedcamp.com/">
    <meta property="og:title" content="SI Open House 2020">
    <meta property="og:description" content="มาร่วมเป็นส่วนหนึ่งของเรากันเถอะ 😃">
    <!-- <meta property="og:image" content="https://storage.googleapis.com/si-open-house.appspot.com/mame.png"> -->
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="562">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://oph2020.sirirajmedcamp.com/">
    <meta property="twitter:title" content="SI Open House 2020">
    <meta property="twitter:description" content="มาร่วมเป็นส่วนหนึ่งของเรากันเถอะ 😃">
    <!-- <meta property="twitter:image" content="https://storage.googleapis.com/si-open-house.appspot.com/mame.png"> -->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.0/dist/sweetalert2.min.css" integrity="sha256-KpQHAI/AubL4JrO3VYskOgqSm+Z9nzrIqWB1dTOfCK4=" crossorigin="anonymous">
    <style>
      body {
        background-color:rgb(255, 223, 211);
      }
      .button {
        position: absolute;
        transition: ease 0.1s;
      }
      .button:hover {
        cursor: pointer;
        opacity: 0.8;
        filter: brightness(75%);
      }
      #mobile {
        display: none;
      }
      #mobile .button:hover {
        opacity: initial;
        filter: initial;
      }
      #mobile .button:active {
        opacity: 0.8;
        filter: brightness(75%);
      }
      @media only screen and (max-width: 768px) {
        #pc {
          display: none;
        }
        #mobile {
          display: initial;
        }
      }
    </style>
  </head>
  <body>
    <div style="position: absolute; z-index: -1;" id="pc">
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/pc/1.svg" alt="background" style="width: 100%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/btn/regis.svg" class="button" style="top: 80%; left: 20%; width: 20%;" onclick="window.location = '/register';" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/btn/help.svg" class="button help" style="top: 80%; left: 40.5%; width: 4.5%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/btn/login.svg" class="button login" style="top: 80%; left: 60%; width: 20%;" />
    </div>
    <div style="position: absolute; z-index: -1;" id="mobile">
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/mobile/1.svg" alt="background" style="width: 100%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/btn/regis.svg" class="button" style="top: 55%; left: 25%; width: 40%;" onclick="window.location = '/register';" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/btn/help.svg" class="button help" style="top: 55%; left: 66%; width: 9%;" />
      <img src="https://storage.googleapis.com/si-open-house.appspot.com/btn/login.svg" class="button login" style="top: 75%; left: 30%; width: 40%;" />
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.0/dist/sweetalert2.min.js" integrity="sha256-4TFmx5O2sFRsVtG7s4u2Dpl816DVDE9YMoj5Q/05qwg=" crossorigin="anonymous"></script>
    <script>
      $(() => {
        $.get('/flash/error', (data) => {
          Swal.mixin({
            icon: 'error'
          }).queue(data);
        });
        $.get('/flash/success', (data) => {
          Swal.mixin({
            icon: 'success'
          }).queue(data);
        });

        $('.login').click(e => {
          Swal.mixin({
            input: 'text',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            // showLoaderOnConfirm: true,
            progressSteps: ['1', '2']
          }).queue([
            {
              title: 'Email',
            },
            {
              title: 'เบอร์โทร',
            },
          ]).then((result) => {
            if (result.value) {
              $.post('/login', {
                email: result.value[0],
                password: result.value[1],
              }, data => {
                console.log(data);
                if (data.success) {
                  Swal.fire({
                    title: 'สำเร็จ',
                    icon: 'success',
                    html: 'ดาวน์โหลดสูจิบัตรได้แล้ว<a target="_blank" href="https://drive.google.com/file/d/1KrYMWE2fVM7oU5tcEUMMdnweEAqU3pNT/view?usp=sharing">ที่นี่</a>',
                  }).then((result) => window.location = '/');
                }
                else Swal.fire(JSON.stringify(data));
              });
              /* Swal.fire({
                title: 'All done!',
                html: `
                  Your answers:
                  <pre><code>${answers}</code></pre>
                `,
                confirmButtonText: 'Lovely!'
              }) */
            }
          });
        });

        $('.help').click(e => {
          Swal.mixin({
            confirmButtonText: 'Next',
            progressSteps: ['1', '2']
          }).queue([
            {
              title: 'Q: ทำไมต้องลงทะเบียนนะ เป็น live นี่นา',
              text: 'A: ถ้าลงทะเบียนก็จะได้สูจิบัตรของงานไง'
            },
            {
              title: 'Q: แค่นี้เองหรอ ?',
              text: 'A: ไม่น้าา ลงทะเบียนแล้วก็จะได้ร่วมเล่นชิงรางวัลด้วย แล้วพอจบ live ก็จะมีแบบประเมินให้ทำ ถ้าทำครบทุกขั้นตอนก็จะได้เกียรติบัตรด้วยนะ'
            }
          ]);
        });

      });
    </script>
  </body>
</html>