<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียน - SI Open House 2020</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha512-4E4EgnhRoo0IXwAtqk/RIu5UjW7/mdqVOWBxeh2omq9mem2We4+Xhx+oXmpk0OyHNF3c3XZ+5PXuRopNoeVfHQ==" crossorigin="anonymous" />
    <style>
      body {
        background-color:rgba(255, 223, 211, 0.5);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <br>
      <h2>ลงทะเบียน</h2>
      <br>
      <form method="post" action="/register">
        <div class="mb-3">
          <label for="nameInput" class="form-label">ชื่อ นามสกุล</label>
          <input type="text" class="form-control" id="nameInput" placeholder="ชื่อสกุล" name="name" required>
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">อีเมล</label>
          <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="ใส่อีเมล" name="email" required />
          <!-- <div id="emailHelp" class="form-text">ผู้จัดงานจะส่งสูจิบัตรไปทาง email นี้</div> -->
        </div>
        <div class="mb-3">
          <label for="telInput" class="form-label">เบอร์โทร</label>
          <input type="number" class="form-control" id="telInput" aria-describedby="telHelp" placeholder="เบอร์โทร" name="tel" required>
          <div id="telHelp" class="form-text">เป็นตัวเลขเท่านั้น เช่น 0810110001 (สำหรับใช้เป็นรหัสผ่าน)</div>
        </div>
        <div class="row mb-3">
          <div class="col-auto">
            <select class="form-select" aria-label="นักเรียนหรือผู้ปกครอง" name="in1" required>
              <option disabled selected value="0">นักเรียน / ผู้ปกครอง</option>
              <option value="นักเรียน">นักเรียน</option>
              <option value="ผู้ปกครอง">ผู้ปกครอง</option>
            </select>
          </div>
          <div class="col-auto">
            เป็นผู้ปกครองของ / นักเรียนชั้น
          </div>
          <div class="col-auto">
            <input type="text" class="form-control" id="in2" name="in2" required />
          </div>
          
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            จังหวัด
          </div>
          <div class="col-auto">
            <input type="text" class="form-control" id="in3" name="in3" required />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            ท่านรู้จักคณะแพทย์ศาสตร์ศิริราชพยาบาล (ทั้ง 5 สาขา) เพียงใด
          </div>
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ชื่อคณะ</th>
                  <th scope="col">ไม่รู้จักเลย</th>
                  <th scope="col">ไม่ค่อยรู้จัก</th>
                  <th scope="col">พอรู้จัก</th>
                  <th scope="col">รู้จัก</th>
                  <th scope="col">รู้จักดีมาก</th>
                </tr>
              </thead>
              <tbody>
                <%
                  let name = ['1. MD - สาขาวิชาแพทยศาสตร์', '2. ET - สาขาวิชาเทคโนโลยีการศึกษาแพทยศาสตร์', '3. PO - สาขาวิชากายอุปกรณ์', '4. TT - สาขาวิชาการแพทย์แผนไทยประยุกต์', '5. PN - ประกาศนียบัตรผู้ช่วยพยาบาล'];
                  for (let j = 0; j < 5; j++) { %>
                    <tr>
                      <th scope="row"><%= name[j] %></th>
                      <%
                        for (let i = 1; i <= 5; i++) {
                      %>
                          <td>
                            <div class="radio">
                              <input type="radio" name="in4-<%= j+1 %>" value="<%= i %>" required/>
                            </div>
                          </td>
                      <% } %>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">ลงทะเบียน</button>
      </form>
      <br/>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha512-r8o3IMbHMsQlcQv/AbejcCasSXqwlwjnstW1Li1MELnRr/d8Fv/vQsOQh4Xu03E3lFpoefqvloTq4ATpHcEzIg==" crossorigin="anonymous"></script>
  </body>
</html>